@font-face {
  font-family: "BentonSans";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  src: url("../fuente/BentonSansBook.otf");
}
@font-face {
  font-family: "BentonBold";
  /*src: url('../fuente/Montserrat-Bold.ttf');*/
  src: url("../fuente/BentonSansBold.otf");
}
.slick-initialized .slick-slide {
  outline: none;
}

p, article, ul, li {
  font-family: BentonSans !important;
  color: #484758 !important;
  font-weight: bold;
}

h1, h2, h3, h4, a, link, strong, a {
  font-family: BentonBold;
}

h3 {
  text-transform: uppercase;
}

@media (max-width: 844px) {
  .containerHome {
    display: block;
  }
  .containerHome div {
    width: 100%;
  }
}
img {
  max-width: 100%;
}

figure {
  margin: 0;
}

header {
  text-align: center;
  position: absolute;
  padding: 1em;
  z-index: 99;
  left: 0;
  right: 0;
}
header img {
  width: 130px;
  text-align: center;
}

.containerHome {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHome .webDesignSection {
  overflow: hidden;
  background-color: #0c4ce2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
  margin: 0.5em;
  text-align: center;
  color: white;
}
.containerHome .webDesignSection ::hover ~ .containerGalleryImage {
  transition: 2000s all;
  transform: scale(2.5);
}
.containerHome .webDesignSection .contentWebDesignContent .containerGalleryImage {
  top: 0;
  left: 0;
}
.containerHome .webDesignSection .contentWebDesignContent .containerGalleryImage a {
  display: inline-block;
  width: 32.9%;
}
.containerHome .webDesignSection .contentWebDesignContent .linkAnTextwebDesign {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: rgba(13, 23, 65, 0.9);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerHome .webDesignSection .contentWebDesignContent .linkAnTextwebDesign img {
  width: 30%;
}
.containerHome .webDesignSection .contentWebDesignContent .linkAnTextwebDesign a {
  background: linear-gradient(135deg, rgba(131, 22, 126, 0.9) 0%, rgba(49, 25, 127, 0.9) 100%);
  padding: 0.5em 3em;
  margin: 1em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
.containerHome .containerDroneVideo {
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 80%;
  margin: 0.5em;
  position: relative;
  overflow: hidden;
}
.containerHome .containerDroneVideo .containerVIdeo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.containerHome .containerDroneVideo .contentDronevideo {
  text-align: center;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(13, 23, 65, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerHome .containerDroneVideo .contentDronevideo img {
  width: 30%;
}
.containerHome .containerDroneVideo .contentDronevideo a {
  background: linear-gradient(135deg, rgba(131, 22, 126, 0.9) 0%, rgba(49, 25, 127, 0.9) 100%);
  padding: 0.5em 3em;
  margin: 1em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
}
.containerHome .containerDroneVideo .contentDronevideo h2 {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
}
footer a {
  text-decoration: none;
  margin: 0.5em;
  color: #0c4ce2;
}

@media (max-width: 844px) {
  .containerHome {
    padding-top: 5em;
    display: block;
    position: relative;
  }
  .containerHome div {
    width: 100% !important;
    text-align: center;
  }
  footer {
    position: relative;
  }
}

/*# sourceMappingURL=styleHome.css.map */
