@font-face {
  font-family: 'icomoon';
  src:  url('../fuente/icomoon.eot?ikvxse');
  src:  url('../fuente/icomoon.eot?ikvxse#iefix') format('embedded-opentype'),
    url('../fuente/icomoon.ttf?ikvxse') format('truetype'),
    url('../fuente/icomoon.woff?ikvxse') format('woff'),
    url('../fuente/icomoon.svg?ikvxse#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:after {
  content: "\e902";
}
.icon-image:after {
  content: "\e90d";
}
.icon-images:after {
  content: "\e90e";
}
.icon-camera:after {
  content: "\e90f";
}
.icon-books:after {
  content: "\e920";
}
.icon-stack:after {
  content: "\e92e";
}
.icon-price-tag:after {
  content: "\e935";
}
.icon-price-tags:after {
  content: "\e936";
}
.icon-barcode:after {
  content: "\e937";
}
.icon-ticket:after {
  content: "\e939";
}
.icon-cart:after {
  content: "\e93a";
}
.icon-coin-dollar:after {
  content: "\e93b";
}
.icon-credit-card:after {
  content: "\e93f";
}
.icon-phone:after {
  content: "\e942";
}
.icon-envelop:after {
  content: "\e945";
}
.icon-location2:after {
  content: "\e948";
}
.icon-clock:after {
  content: "\e94e";
}
.icon-display:after {
  content: "\e956";
}
.icon-mobile:after {
  content: "\e958";
}
.icon-database:after {
  content: "\e964";
}
.icon-bubbles:after {
  content: "\e96c";
}
.icon-bubbles3:after {
  content: "\e96f";
}
.icon-lock:after {
  content: "\e98f";
}
.icon-unlocked:after {
  content: "\e990";
}
.icon-cog:after {
  content: "\e994";
}
.icon-cogs:after {
  content: "\e995";
}
.icon-stats-dots:after {
  content: "\e99b";
}
.icon-earth:after {
  content: "\e9ca";
}
.icon-eye-plus:after {
  content: "\e9cf";
}
.icon-star-empty:after {
  content: "\e9d7";
}
.icon-star-half:after {
  content: "\e9d8";
}
.icon-star-full:after {
  content: "\e9d9";
}
.icon-heart:after {
  content: "\e9da";
}
.icon-smile:after {
  content: "\e9e1";
}
.icon-wink:after {
  content: "\e9e7";
}
.icon-cancel-circle:after {
  content: "\ea0d";
}
.icon-cross:after {
  content: "\ea0f";
}
.icon-checkmark:after {
  content: "\ea10";
}
.icon-facebook:after {
  content: "\ea90";
}
.icon-instagram:after {
  content: "\ea92";
}
.icon-whatsapp:after {
  content: "\ea93";
}
.icon-twitter:after {
  content: "\ea96";
}
.icon-stackoverflow:after {
  content: "\ead0";
}
