* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MontserratLight";
  src: url("../fuente/Montserrat-Light.ttf");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("../fuente/Montserrat-Black.ttf");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fuente/Montserrat-Regular.ttf");
}
img {
  max-width: 100%;
}

a {
  font-family: "MontserratRegular";
  text-decoration: none;
}

p, article, span, li, ul,
input, textarea, select, strong, h2, h4 {
  font-family: "MontserratLight" !important;
}

h1, h3, h5, h6, button, alt {
  font-family: "MontserratBlack";
}

main {
  background: rgb(8, 14, 26);
  background: linear-gradient(174deg, rgb(8, 14, 26) 0%, rgb(0, 0, 0) 35%, rgb(52, 65, 82) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .containerImage {
  position: absolute;
  bottom: 0;
  left: 0;
  max-height: 45%;
}
main .containerImage .contentMoreInfo {
  position: absolute;
  display: block;
  bottom: 1em;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: center;
}
main .containerImage .contentMoreInfo a {
  background-color: #fc4d4e;
  color: white;
  padding: 0.5em 2em;
  border-radius: 15px;
  text-transform: uppercase;
  box-shadow: 1px 5px 25px black;
  font-size: 0.8em;
}

header {
  text-align: center;
  padding: 4em 1em;
}
header .containerInfo h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .containerInfo h2 {
  font-size: 0.8em;
  letter-spacing: 2px;
  color: white;
  padding-bottom: 2em;
}
header .containerInfo h3 {
  font-size: 0.9em;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header .containerInfo h4 {
  color: white;
  font-size: 0.9em;
}
header .containerInfo h4 span {
  color: #fc4d4e;
}

.containerContact {
  text-align: center;
  margin: 1em;
}
.containerContact .contentContact {
  margin-bottom: 3em;
  margin-top: -1em;
}
.containerContact .contentContact a {
  border: 1px solid #123FD8;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 1em 1.5em;
  color: white;
  box-shadow: 1px 5px 25px black;
  background-color: #123FD8;
  text-shadow: 0 0px 20px #202020;
}
.containerContact .contentWhatsAppContact a {
  border: 1px solid #5bd485;
  background-color: #5bd485;
  border-radius: 15px;
  text-transform: uppercase;
  padding: 1em 1.5em;
  color: white;
  box-shadow: 1px 5px 25px black;
}

.containerHeader {
  text-align: center;
  padding: 4em 1em;
  height: 20%;
  background-image: url(../img/fotoOficna.webp);
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.738);
  position: relative;
}
.containerHeader h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.containerHeader h2 {
  color: white;
  font-size: 0.8em;
  text-transform: uppercase;
}

.containerBody .containerSocialMedia .contentSocialMedia {
  text-align: center;
}
.containerBody .containerSocialMedia .contentSocialMedia h1 {
  color: #fc4d4e;
  text-transform: uppercase;
  padding: 1em;
}
.containerBody .containerSocialMedia .contentSocialMedia div {
  display: inline-block;
  margin: 0 1em;
}
.containerBody .containerSocialMedia .contentSocialMedia div a {
  font-size: 2em;
  color: white;
}
.containerBody .presentation {
  margin: 1em;
}
.containerBody .presentation article {
  padding: 0.5em;
  text-align: justify;
  color: white;
}
.containerBody .presentation .contentSaveContact {
  padding: 1em;
  text-align: center;
  border-radius: 15px;
  margin-top: 2em;
}
.containerBody .presentation .contentSaveContact h3 {
  padding: 1em;
  color: #123FD8;
  text-transform: uppercase;
}
.containerBody .presentation .contentSaveContact a {
  border-radius: 15px;
  text-transform: uppercase;
  padding: 1em 1.5em;
  color: white;
  box-shadow: 1px 5px 25px black;
  background-color: #123FD8;
  font-size: 0.9em;
  animation: infinite animationButton 4s;
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 2em;
  right: 0;
  margin: 0 auto;
}

.containerButtoCall {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

/*# sourceMappingURL=stylePersona.css.map */
